<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/contemporary/modernmuse-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/contemporary/modernmuse-banner-sm.jpg  768w,
            /images/support-landing-page/product-blends/contemporary/modernmuse-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/contemporary/modernmuse-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/contemporary/modernmuse-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/product-blends/contemporary/modernmuse-banner-xl.jpg"
          alt="Modern Muse Contemporary house"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Modern Muse</h1>
            <h2>Contemporary</h2>
            <a
              href="/categories?&blnds[]=Modern+Muse"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>The Contemporary Style</h2>
      <P class="one-rem-text-desktop" >
        Contemporary designs feature more state-of-the-art materials like glass
        and metals. Glass, Steel, Porcelain and concrete tend to be popular with
        this design. This style is not designed to overwhelm your senses, but
        rather includes basic and essential elements instead. Something to keep
        in mind is that Contemporary designs have neutral palettes, stark
        minimalism, clean lines or curves, and organic silhouettes.
      </P>
      <P class="one-rem-text-desktop" >
        Contemporary style is also constantly evolving to reflect the popular
        styles of the present. It essentially borrows qualities from other
        styles without a focus on any of them. The goal is to create a harmony
        with each room. Large windows are especially popular and open the space
        more. And white walls and monochromatic furniture tend to be popular
        with the Contemporary style.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Contemporary look Blend"
        src="/images/support-landing-page/product-blends/contemporary/modernmuse-inset-1.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Contemporary Space</h2>
      <p>
        With an open feel, each space flows from one area to another fluidly.
        Also, take notice on the many different styles that are represented
        here. From the barn door hardware to the vistagrande door, contemporary
        truly gives the feel of a current trendy home. The open space will allow
        everyone to be present in any activities that are going on. For a look
        like this, check out the key elements below.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
      <!--ddd  -->
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Modern+Muse" class="text-dark">
        <h2>Moulding</h2>
      </a>
      <p>
        Trending with the Contemporary look is sleek white moulding. This style
        makes everything fluid, clean, and minimalistic. The moulding can
        enhance the harmony that is felt in each room. You may notice that much
        of the moulding has a simplistic style that does not have intricate
        detail, but rather smooth and clean lines.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=Modern+Muse" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Contemporary Moulding"
          src="/images/support-landing-page/product-blends/contemporary/modernmuse-inset-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=Modern+Muse" class="text-dark">
        <h2>Doors</h2>
      </a>
      <p>
        Doors in this style tend to lean towards the moulding profile. It’s
        minimalistic details to clean lines keep it simple and allow a
        Contemporary space to flow. Pairing the sleek moulding with a sleek door
        continue the look that you are seeking.
      </p>
    </div>
    <div
      class=" order-md-1 col-12 col-md-6 text-center   landing-text-container"
    >
      <a href="/categories?&blnds[]=Modern+Muse" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Contemporary Doors"
          src="/images/support-landing-page/product-blends/contemporary/modernmuse-inset-3.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 landing-text-box ">
      <h2>Your look</h2>
      <p>
        Often people confuse modern and contemporary. The biggest different
        you’ll notice is that the modern style is from a certain period,
        mid-20th century, while the Contemporary style is a constantly changing
        style that adapts to the newest trends and designs.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Contemporary style house"
        src="/images/support-landing-page/product-blends/contemporary/modernmuse-inset-4.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Reflect Contemporary</h2>
      <p>
        The Berkley doors bring in the epitomy of Contemporary with straight
        lines and clean appearances. Also, note that the barn door harware keeps
        the notion of evolution to reflect popular styles of the present.
      </p>
    </div>
    <!-- col-12 -->
  </div>
</div>

<!-- container -->
